ul>li>a>img{
    width: 1rem;
    height: 1rem;
   
}
ul>li{
    margin-bottom: 0rem;
}
button{
    font-size: 0.75rem;
    margin-bottom: 0.4rem;
    
}
.jumbo-text{
    font-size: 1rem;
}
.card{
width: 18rem;
height: 10rem;
margin-bottom: 1rem;

}
.img-b{
    border-right:10px solid red ;
}
.footer-text{
    font-size: 0.8rem;
}
.active:hover{
    background-color: blue;
    
}
.dropdown-item:hover{
    background-color: blue;
}

.sticky{
    position: fixed;
}
body{
    overflow-x: hidden;
}
@media(max-width:1000px){
.dd{
    
    font-size: 2.5rem;
}
.dt{
    font-size: 0.6rem;
    
}
.card{
    margin:0px auto;
}

}